.button {
  font-size: 2rem;
  color: rgb(76, 173, 177);
  background-color: rgb(49, 42, 95);
  margin-left: 10px;
  width: 80px;
  margin: 10px;
}

.input {
  display: inline-block;
  margin-left: 20px;
  width: 30px;
  height: 20px;
  font-size: 20px;
  background-color: rgb(213, 195, 250);
}

.buttonInput {
  font-size: 2rem;
  color: rgb(76, 173, 177);
  background-color: rgb(49, 42, 95);
  margin: 10px;
  width: 200px;
}
